<div class="container" style="height: 100vh;">
  <iframe src="https://www.youtube.com/embed/IM_z4XJbSFM?ecver=1&controls=0&showinfo=0&rel=0&loop=1&mute=1&autoplay=1&playlist=IM_z4XJbSFM" frameborder="0" allowfullscreen></iframe>
</div>

<h1>Video預覽</h1>

<div class="row">
  <% @videos.each do |video| %>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-image">
        <%= link_to video_path(video) do %>
          <% if video.image.present? %>
            <%= image_tag(video.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to video.title, video_path(video) %>

        <% if current_user && current_user.favorites?(video) %>
          <%= link_to discollect_video_path(video), class: "right", method: :post do %>
            <i class="material-icons small love-color">favorite</i>
          <% end %>
        <% else %>
          <%= link_to collect_video_path(video), class: "right", method: :post do %>
            <i class="material-icons small love-color-change">favorite_border</i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <% end %>
</div>
