<h1>Video預覽</h1>

<div class="row">
  <% @videos.each do |video| %>
  <div class="col s12 m4">
    <div class="card blue-grey darken-1">
      <div class="card-image">
        <%= link_to video_path(video) do %>
          <% if video.image.present? %>
            <%= image_tag(video.image.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
          <% end %>
        <% end %>
      </div>
      <div class="card-action">
        <%= link_to video.title, video_path(video) %>
        <%= link_to "#", class: "right" do %>
          <i class="material-icons love-color small">favorite</i>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
