<!DOCTYPE html>
<html>
  <head>
    <title>VideosPlace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

    <!-- Icon -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  </head>

  <body>
    <%= render "common/navbar" %>
    <div class="container" style="height: 100vh;">
      <iframe src="https://www.youtube.com/embed/IM_z4XJbSFM?ecver=1&controls=0&showinfo=0&rel=0&loop=1&mute=1&autoplay=1&playlist=IM_z4XJbSFM" frameborder="0" allowfullscreen style="position:absolute;
             background: #000;
             top: 0;
             left: 0;
             bottom: 0;
             right: 0;
             z-index: -99;
             pointer-events: none;
             width: 100%;
             height: 100%;"></iframe>

      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/IM_z4XJbSFM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe> -->
    </div>
    <div class="row">
      <div class="col m10 offset-m1">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
